<div class="container">
  <form #registerForm="ngForm" (ngSubmit)="submitCustomerInfo()">
    <h2 class="text-center text-primary">Customer Informations</h2>
    <hr>

    <div class="form-group">
      <input type="text" class="form-control" required name="name"  maxlength="{{nameMaxLength}}" placeholder="Name" [(ngModel)]="model.name" >
    </div>
    
    <div class="form-group">
      <input type="text" class="form-control" required name="surName" maxlength="{{surNameMaxLength}}" placeholder="SurName" [(ngModel)]="model.surName">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" required name="address" maxlength="{{addressMaxLength}}" placeholder="Address" [(ngModel)]="model.address">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" required name="street" maxlength="{{streetMaxLength}}" placeholder="Street" [(ngModel)]="model.street">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" required name="postCode" maxlength="{{postCodeMaxLength}}" placeholder="Post Code" [(ngModel)]="model.postCode">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" name="city" placeholder="City" maxlength="{{cityMaxLength}}" [(ngModel)]="model.city">
    </div>

    <div class="form-group text-center">
      <button [disabled]="!registerForm.valid" class="btn btn-success" type="submit">Payment</button>
      <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
    </div> 
  </form>
</div>
