<!-- <div *ngIf="product" class="container">
<p>
  {{product.id}} - {{product.name}}
</p>
<p>
 Category: {{product.category.name}} 
</p>
<p>
  Price: {{product.price}}$ 
</p>
<p>
   {{product.description}}
</p>
<p>
 {{product.description}}
</p>
<p>
  <button class="btn btn-success" (click)="addToBasket()">Add To Basket</button>
  <input type="se" class="form-control" min="1" name="product Quanitity" placeholder="Product Quantity" [(ngModel)]="product.stock.quantity">
</p>
</div> -->
  <div class="container">
    <div *ngIf="product" class="col-md-6 mt-5">
      <h5>{{product.name}}</h5>
      <p><span class="mr-1"><strong>{{product.price}}$</strong></span></p>
      <p class="pt-1">{{product.description}}</p>
      <div class="table-responsive">
        <table class="table table-sm table-borderless mb-0">
          <tbody>
            <tr>
              <th class="pl-0 w-25" scope="row"><strong>Category</strong></th>
              <td>{{product.category.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr>
      <div class="table-responsive mb-2">
        <table class="table table-sm table-borderless">
          <tbody>
            <tr>
              <td class="pl-0 pb-0 w-25">Quantity</td>
            </tr>
            <tr>
              <td class="pl-0">
                <div class="def-number-input number-input safari_only mb-0">
                  <input type="number" class="form-control w-25" min="1" name="Product Quantity" placeholder="Product Quantity" [(ngModel)]="product.stock.quantity">
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
          <button class="btn btn-success btn-md mr-1 mb-2" (click)="addToBasket()">Add To Basket</button>
    </div>
  </div>
