<div class="container">
  <form #createProductForm="ngForm" (ngSubmit)="createProduct()">
      <h2 class="text-center text-primary">Create Product</h2>
      <hr>
    
      <div class="form-group">
        <input type="text" class="form-control" name="name" required placeholder="ProductName" [(ngModel)]="model.name">
      </div>
    

      <div class="form-group">
          <ng-select
            required
            name="categoryId"
            [items]="categories"
            [multiple]="false"
            [closeOnSelect]="true"
            [searchable]="false"
            bindLabel="name"
            bindValue="id"
            placeholder="Select category"
            [(ngModel)]="model.categoryId">
          </ng-select>
        </div>


      <div class="form-group">
        <ng-select
          required
          name="subCategoriesId"
          [items]="subCategories"
          [multiple]="true"
          [closeOnSelect]="false"
          [searchable]="false"
          bindLabel="name"
          bindValue="id"
          placeholder="Select subCategories"
          [(ngModel)]="model.subCategoriesId">
        </ng-select>
      </div>
      

      <div class="form-group">
        <ng-select
          required
          name="languagesId"
          [items]="languages"
          [multiple]="true"
          [closeOnSelect]="false"
          [searchable]="false"
          bindLabel="name"
          bindValue="id"
          placeholder="Select languages"
          [(ngModel)]="model.languagesId">
        </ng-select>
      </div>

      <div class="form-group">
        <input type="number" class="form-control" name="pegi" required placeholder="Pegi" [(ngModel)]="model.pegi">
      </div>

      <div class="form-group">
        <input type="number" class="form-control" name="price" required placeholder="Price" [(ngModel)]="model.price">
      </div>

      <div class="form-group">
          <div class="form-check">
          <input type="checkbox" 
            name="isNetworkConnetctionRequire"
            class="form-check-input"
            (change)="model.isDigitalMedia = $event.target.checked ? true : false"
            [checked]="model.isDigitalMedia === true"
            [(ngModel)]="model.isDigitalMedia"      
            >
            <label>Is network connection require?</label>
          </div>
        </div>


      <div class="form-group">       
        <button class="btn btn-info" (click)="createRequirementsModal()" type="button">Create Requirements</button>
      </div>
     
      <div class="form-group">
        <input type="text" class="form-control" name="description" required placeholder="Description" [(ngModel)]="model.description">
      </div>

      <!-- uploader -->
      <div class="row mt-3">
 
        <div class="col-md-3">
 
            <h3>Add Photos</h3>
 
            <div ng2FileDrop
                 [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                 (fileOver)="fileOverBase($event)"
                 [uploader]="uploader"
                 class="card b-faded p-3 text-center mb-3 my-drop-zone">
                 <i class="fa fa-upload fa-3x"></i>
                Drop photo here
            </div>
 
            Multiple
            <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>
 
            Single
            <input type="file" ng2FileSelect [uploader]="uploader" />
        </div>
 
        <div class="col-md-9" style="margin-bottom: 40px" *ngIf="uploader?.queue?.length">
 
            <h3>Upload queue</h3>
            <p>Queue length: {{ uploader?.queue?.length }}</p>
 
            <table class="table">
                <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th>Size</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <td><strong>{{ item?.file?.name }}</strong></td>
                    <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td> 
                    <td nowrap>
                      <button type="button" class="btn btn-danger btn-xs"
                              (click)="item.remove()">
                          <span class="glyphicon glyphicon-trash"></span> Remove
                      </button>                                     
                  </td>                     
                </tr>
                </tbody>
            </table>
 
            <div>
                <div>
                    Queue progress:
                    <div class="progress mb-4">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>
                <button type="button" class="btn btn-danger btn-s"
                        (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                    <span class="fa fa-trash"></span> Remove All
                </button>
            </div>
          </div>
        </div>
    
      <div class="form-group text-center">
        <button [disabled]="!createProductForm.valid" class="btn btn-success"  type="submit">Create Product</button>
        <button class="btn btn-default"  type="button" (click)="cancelButton()">Cancel</button>
      </div> 
    </form>
</div>
