<div class="container">
  <div *ngIf="!createButtonClicked && !editButtonClicked">
    <button  class="btn btn-info w-100" (click)="createProductButtonSelected()">Create Product</button>
  </div>
  <div *ngIf="createButtonClicked">
    <app-create-product (creationMode)="canceledOrSuccesfullCreation($event)"></app-create-product>   
  </div>
  <div *ngIf="editButtonClicked && !createButtonClicked">
    <app-edit-product [productIdFromProductsPanel]="productIdToEdit" (editMode)="canceledOrSuccesfullEdit($event)"></app-edit-product>
  </div>
  <div *ngIf="!createButtonClicked && !editButtonClicked" class="row">
    <table class="table">
      <tr>
        <th style="width: 5%">Product ID</th>
        <th style="width: 30%">Product Name</th>
        <th style="width: 10%">Category</th>
        <th style="width: 30%">SubCategories</th>
        <th style="width: 5%">Price</th>
        <th style="width: 10%"></th>
        <th style="width: 10%"></th>
      </tr>
      <tr *ngFor="let product of products">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.categoryName}}</td>
        <td>{{product.subCategories}}</td>
        <td>{{product.price}}</td>
        <td><button class="btn btn-info" (click)="editProductButtonSelected(product.id)">Edit Product</button></td>
        <td><button class="btn btn-danger"(click)="deleteProduct(product.id)">Delete Product</button></td>
        
      </tr>
    </table>
  </div>
  <div *ngIf="pagination && !editButtonClicked && !createButtonClicked" class="d-flex justify-content-center">
    <pagination [boundaryLinks]="true"              
                [(ngModel)]="pagination.currentPage"
                [itemsPerPage]="pagination.itemsPerPage"
                [totalItems]="pagination.totalItems"
                (pageChanged)="pageChanged($event)"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

  </pagination>
  </div> 
</div>
