<nav class="navbar navbar-expand-md navbar-dark  bg-dark">
 <div class="container">
  <a class="navbar-brand" [routerLink]="['/home']"  >Game Shop</a>

    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/contact']"  >Contact</a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link " [routerLink]="['/basket']"   tabindex="-1" aria-disabled="true">Basket</a>
      </li>

      <li *appHasRole="['Admin', 'Moderator']" class="nav-item" routerLinkActive="active">
        <a class="nav-link " [routerLink]="['/admin']"   tabindex="-1" aria-disabled="true">Admin</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0 mr-3">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" >
        <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
      </form>


    <div class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
          Sign in | Register
      </a>
      

      <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item" *ngIf="!loggedIn" [routerLink]="['/sign-in']" routerLinkActive="router-link-active"><i class="fa fa-sign-in"></i>Sign in</a>
          <a class="dropdown-item" *ngIf="loggedIn" (click)="logout()"><i class="fa fa-sign-out"></i>Sign out</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" *ngIf="!loggedIn" [routerLink]="['/register']" routerLinkActive="router-link-active"><i class="fa fa-user-plus"></i>Register</a>
          <a class="dropdown-item" *ngIf="loggedIn" [routerLink]="['/account']" routerLinkActive="router-link-active"><i class="fa fa-user"></i>My Account</a>
      </div>
    </div>
  </div>
</nav>
